{% extends "base.html" %}

{% block content %}

{% for post in all_posts %}

<div>
   <div>
       <h2 class="d-inline-block">{{ post.title }}</h2>

       {% if session.logged_in %}
    <div class="d-flex justify-content-end align-items-center">
        <!-- Ołówek (edytuj) -->
        <a class="mr-2" href="{{ url_for('edit_entry', entry_id=post.id) }}">
            <i class="fas fa-pencil-alt fa-lg"></i>
        </a>

        <!-- Kosz na śmieci (usuń) -->
        <form action="{{ url_for('delete_entry', entry_id=post.id) }}" method="POST">
            <button type="submit" class="btn btn-link">
                <i class="fas fa-trash-alt fa-lg text-primary"></i>
            </button>
        </form>
    </div>
{% endif %}
   </div>
   <p>{{ post.pub_date.strftime('%Y-%m-%d') }} </p>
   <p>
       {{ post.body}}
   </p>
</div>

{% endfor %}
{% endblock %}
